/*! util.css v0.1.0 | https://github.com/ryanmorr/util.css */

/* ------------------------------------------------------------------ *\
    Floats
\* ------------------------------------------------------------------ */

/**
 * Allows a container element to stretch to accommodate the
 * floating elements consistently between browsers
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

/**
 * Float an element left
 */

.pull-left {
    float: left;
}

/**
 * Float an element right
 */

.pull-right {
    float: right;
}

/* ------------------------------------------------------------------ *\
    Visibility
\* ------------------------------------------------------------------ */

/**
 * Show an element
 */

.show {
    display: block !important;
}

/**
 * Hide an element visually and from screen readers
 */

.hide {
    display: none !important;
}

/**
 * Hide an element visually and from screen readers, but
 * maintain layout
 */

.invisible {
    visibility: hidden !important;
}

/**
 * Hide an element visually, but still allow it to be accessible
 * to screen readers, maintain layout, and allow pointer events
 */

.transparent {
    opacity: 0 !important;
}

/**
 * Hide an element visually, but still allow it to be accessible
 * to screen readers
 */

.hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extend the `hidden-accessible` class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css
 */

.hidden-accessible.focusable:active,
.hidden-accessible.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/**
 * Hide an element visually, but maintain its layout offscreen so that
 * its width and height and still be accurately measured
 */

.hidden-measurable {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
}

/* ------------------------------------------------------------------ *\
    Positioning
\* ------------------------------------------------------------------ */

/**
 * Center an element horizontally
 */

.center-x {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Center an element vertically
 */

.center-y {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/**
 * Center an element horizontally and vertically
 */

.center-xy {
    margin: 0 auto;
    display: table;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/**
 * Center an absolutely positioned element horizontally
 */

.center-x-abs {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Center an absolutely positioned element vertically
 */

.center-y-abs {
    position: absolute;
    bottom: 0;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
}

/**
 * Center an absolutely positioned element horizontally and vertically
 */

.center-xy-abs {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}

/* ------------------------------------------------------------------ *\
    Images
\* ------------------------------------------------------------------ */

/**
 * Image replacement to provide a caption to an image that is hidden
 * visually but available to web crawlers and screen readers
 */

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/**
 * Responsive images
 */

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ------------------------------------------------------------------ *\
    Print
\* ------------------------------------------------------------------ */

/**
 * Optimize the page for printing
 * Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css
 */

@media print {
    *,
    *::before,
    *::after,
    *::first-letter,
    *::first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
