.clearfix::before,
.clearfix::after {
    content: " " !important;
    display: table !important;
}
.clearfix::after {
    clear: both !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.responsive-width {
    box-sizing: border-box !important;
    max-width: 100% !important;
    height: auto !important;
}

.responsive-height {
    box-sizing: border-box !important;
    max-height: 100% !important;
    width: auto !important;
}
