.clearfix::before,
.clearfix::after {
    content: " " !important;
    display: table !important;
}

.clearfix::after {
    clear: both !important;
}

.border-box,
.border-box::before,
.border-box::after {
    box-sizing: border-box;
}

.border-box *,
.border-box *::before,
.border-box *::after {
    box-sizing: inherit;
}

.content-box,
.content-box::before,
.content-box::after {
    box-sizing: content-box;
}

.content-box *,
.content-box *::before,
.content-box *::after {
    box-sizing: inherit;
}

.responsive-width {
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}

.responsive-height {
    box-sizing: border-box;
    max-height: 100%;
    width: auto;
}

.flex-inline-middle-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-middle-center {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.grid-middle-center {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex-horizontal-stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
}

.flex-vertical-stack {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-self: stretch;
}
