/* stylelint-disable property-no-vendor-prefix */

.unselectable {
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
}

.disabled {
    -webkit-tap-highlight-color: transparent !important;
    pointer-events: none !important;
    touch-action: none !important;
    -webkit-touch-callout: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
}

.scroll-horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
}

.scroll-vertical {
    overflow-x: hidden;
    overflow-y: scroll;
}

/* stylelint-enable property-no-vendor-prefix */
